<div class="input-group">
  <span class="input-group-btn">
    <button
            type="button"
            [ngClass]="btnClass"
            (click)="changeValue(-10)">
      <i class="fa fa-minus"></i>
    </button>
  </span>
  <input  type="text"
          class="form-control"
          [ngClass]="{'is-invalid': progress > 100 || progress < 0}"
          placeholder="Product name"
          (ngModelChange)="onChange($event)"
          [(ngModel)]="progress">
  <span class="input-group-btn">
    <button
            type="button"
            (click)="changeValue(10)"
            [ngClass]="btnClass">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
